@media (max-width:468px){
    .scrolling-off{
        overflow-x: hidden;
    }
    .centeredItems{
        margin-left: 25px !important;
        padding: 10px;
    }
    .signinbtn{
        margin-left: 0;
        width: 90%;
        margin: 10px;
    }
    .forgotText {
        margin-left: -30px
    }
}

.btnGoogle {
    border: 1px solid #62C4ED;
    color: #62C4ED;
}
.btnGoogle:hover {
    background-color: #62C4ED;
    color: white;
}

.btnFb {
    border: 1px solid #3b5998;
    color: #3b5998;
}

.btnFb:hover {
    background-color: #3b5998;
    color: white;
}

.inputWidth {
    width: 88%;
    margin-bottom: -15px;
}

.signinbtn {
    width: 79%;
}

.btnSignColor {
    background-color: #4650dd;
    color: white;
    border: 1px solid #4650dd;
}

.btnSignColor:hover {
    background-color: #3b44c2;
    color: white;
}

.spaceWelcome {
    letter-spacing: 0.2em;
}